.mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: table;
  transition: opacity 0.3s ease;
}

.wrapper {
  display: table-cell;
  vertical-align: middle;
}

:global .modal-container {
  width: 300px;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
  transition: all 0.3s ease;
  font-family: Helvetica, Arial, sans-serif;
}

.header h3 {
  margin-top: 0;
  color: #61dafb;
}

.body {
  margin: 20px 0;
}

.button {
  float: right;
}


:global .modal-enter {
  opacity: 0;
}

:global .modal-exit-active {
  opacity: 0;
}

:global .modal-enter .modal-container,
:global .modal-exit-active .modal-container {
  -webkit-transform: scale(1.51);
  transform: scale(1.51);
}

.modal-enter {
  opacity: 0;
  transform: scale(0.9);
}
.modal-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}
.modal-exit {
  opacity: 1;
}

:global .modal-enter  form {
  opacity: 0;
  transform: scale(0.7);
}
:global .modal-enter-active form  {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}
:global .modal-exit   {
  opacity: 1;
}
:global .modal-exit-active   {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}