
.loader {
  width: 3.25rem;
  height: 3.25rem;
  border-radius: 50%;
  border-style: solid;
  border-width: 0.2rem;
  border-color: #fff;
  border-top-color: #61dafb;
  border-left-color: #61dafb;
  display: inline-block;
  animation: loader 0.75s linear infinite;
  margin: 0.5rem 0.5rem;
  vertical-align: middle;

}

.default {

}

.medium {
  width: 2.25rem;
  height: 2.25rem;
  border-width: .15rem;
}

.small {
  width: 1.25rem;
  height: 1.25rem;
  border-width: .1rem;
}

.extra-small {
  width: 0.9rem;
  height: 0.9rem;
  border-width: .1rem;
}

@keyframes loader {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
