.checkout {
  text-align: left;
}

.name,
.card {
  width: 180px;
  margin-right: 10px;
}

.exp,
.cvc {
  width: 35px;
  margin-right: 5px;
}
.primary {
  color: #fff;
  background: #61dafb;
  padding: 5px 15px;
  margin: 4px 4px 4px 0;
  border: #61dafb solid 1px;
  border-radius: 2px;
  font-size: 0.9rem;
}
.primary:hover {
  background: #85919e;
}
.cancel {
  color: #fff;
  background: #34495e;
  padding: 5px 15px;
  margin: 4px 4px 4px 0;
  border: #34495e solid 1px;
  border-radius: 2px;
  font-size: 0.9rem;
}
.cancel:hover {
  background: #85919e;
}